<h2><%= @question.text %></h2>
<hr>
<div id="sorted-answers">
  <ul id="all_answers">
    <% @answers.each do |answer| %>
      <li id="<%= answer.votes.length %>", data-remote="true"><%= link_to "Vote | #{answer.votes.length}", answer_votes_path(answer), class: "btn btn-sm btn-danger", method: "post", rel: "nofollow"%> <%= User.find(answer.user_id).name %>: <%= answer.text %> </li>
    <% end %>
  <ul>
</div>
<% if @user %>
  <div id="new_answer">
  <%= link_to "Answer", new_question_answer_path(@question), class: "btn btn-success", id: "Answer", remote: true %>
  </div>
<% end %>
