<%= form_for [@question, @answer] do |f| %>
  <%= hidden_field_tag("answer[user_id]", value = @user.id) %>
  <div class="form-group">
    <%= f.label "answer" %>
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <%= f.submit "submit", :class => "btn btn-primary" %>
<% end %>
