<!DOCTYPE html>
<html>
<head>
  <title>StackClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<% if current_user %>
  Logged in as: <%= User.find(current_user.id).name %>
  <%= link_to "logout", logout_path, :class => "right" %>
<% else %>
  <%= link_to "login", login_path, :class => "right" %>
<% end %>
<% if flash[:alert] %>
  <p><%= flash[:alert].html_safe %></p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice].html_safe %></p>
<% end %>
<%= yield %>

</body>
</html>
